.res-card{
    height: 300px;
    width: 250px;
    /* background-color: #6cabab; */
    flex-shrink: 0;
    transition: all 0.2s ease-in-out;
   
}

.res-card #res-img{
    /* background-color: #cd954b; */
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}
 
#res-img h2{
    position: absolute;
    bottom: 0%;
    left: 5%;
    z-index: 2;
    color: rgb(243, 243, 243);
    font-size: 23px;
}

.res-card .overlay{
    height: 100px;
    width: 100%;
    /* background-color:black; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.016), rgba(0,0,0,1));
    position: relative;
    bottom: 40%;
    
    
}

.res-card img{
    height: 200px;
    width: 100%;
     border-radius: 15px;
    /* overflow: hidden; */
}

.res-card:hover{
    transform:scale(0.96)
}

.res-card h3{
    font-weight: 500;
}

.res-card h4{
    /* background-color: antiquewhite; */
   
    font-weight: 300;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}